In [17]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

spark = SparkSession.builder .appName("WordCountApp") .getOrCreate()

In [18]:
import os
print(os.getcwd())

c:\Users\neeli\spark

In [19]:
rdd = spark.sparkContext.textFile("sample.txt")

In [20]:
import os
print("sample.txt exists:", os.path.isfile("sample.txt"))

sample.txt exists: True

In [21]:
print(os.listdir())

['.ipynb_checkpoints', 'data.csv', 'output.avro', 'output.json', 'output.parquet', 'output.txt', 'sample.csv', 'sample.json', 'sample.txt', 'spark.ipynb', 'spark310env', 'venv', 'wordcount.py']

In [22]:
rdd = spark.sparkContext.textFile("C:/Users/neeli/spark/sample.txt")

In [23]:

word_counts = rdd.flatMap(lambda line: line.split()).map(lambda word: (word.lower(), 1)).reduceByKey(lambda a, b: a + b)


for word, count in word_counts.collect():
    print(f"{word}: {count}")

IllegalArgumentException: Pathname /C:/Users/neeli/spark/sample.txt from hdfs://localhost:9000/C:/Users/neeli/spark/sample.txt is not a valid DFS filename.

In [11]:
rdd = spark.sparkContext.textFile("sample.csv")

In [12]:
word_counts = rdd.flatMap(lambda line: line.split()) .map(lambda word: (word.strip().lower(), 1)) .reduceByKey(lambda a, b: a + b)

for word, count in word_counts.collect():
    print(f"{word}: {count}")

world: 1
is: 1
hello: 2
spark: 2
fast: 1

In [13]:
df = spark.read.json("sample.json")

In [14]:
df = spark.read.json("sample.json")

if df.count() > 0:
    if 'text' in df.columns:
        rdd = df.filter(df['text'].isNotNull()).rdd.flatMap(lambda row: str(row['text']).split()) .map(lambda word: (word.lower().strip(), 1)) .reduceByKey(lambda a, b: a + b)
        
        
        for word, count in rdd.collect():
            print(f"{word}: {count}")
    else:
        print("The 'text' column does not exist in the DataFrame.")
else:                  
    print("The DataFrame is empty!")

hello: 2
world: 1
spark: 2
is: 1
fast: 1

In [15]:
spark

In [2]:
import pandas as pd
df = pd.read_csv('data.csv')
print(df.head())

     hello world
0    hello spark
1  spark is fast

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Test").getOrCreate()
spark_df = spark.read.csv("data.csv", header=True, inferSchema=True)
spark_df.show()

+-------------+
|  hello world|
+-------------+
|  hello spark|
|spark is fast|
+-------------+

In [ ]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
from fastavro import writer, parse_schema


df = pd.read_csv("data.csv")


df.to_json("output.json", orient="records", lines=True)

table = pa.Table.from_pandas(df)
pq.write_table(table, "output.parquet")


df.to_csv("output.txt", index=False, header=False)


avro_schema = {
    "type": "record",
    "name": "Record",
    "fields": [{"name": col, "type": "string"} for col in df.columns]
}
records = df.astype(str).to_dict(orient="records")
parsed_schema = parse_schema(avro_schema)

with open("output.avro", "wb") as f:
    writer(f, parsed_schema, records)

print(" CSV successfully written to JSON, Parquet, Avro, and Text!")

✅ CSV successfully written to JSON, Parquet, Avro, and Text!

In [5]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("CSV to JSON, AVRO, TEXT") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://localhost:9000") \
    .config("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.3.0") \
    .getOrCreate()

In [14]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Read CSV from HDFS") .config("spark.hadoop.fs.defaultFS", "hdfs://localhost:9000")  .getOrCreate()
csv_path = "hdfs://localhost:9000/user/hadoop/inputdata/data.csv"
df = spark.read.option("header", "true").csv(csv_path)
df.show()

+-------------+
|  hello world|
+-------------+
|  hello spark|
|spark is fast|
+-------------+

In [ ]:
df.write.mode("overwrite").json("hdfs://localhost:9000/user/hadoop/fileoutput/json_output")
from pyspark.sql.functions import concat_ws
df_text = df.select(concat_ws(", ", *df.columns).alias("value"))
df_text.write.mode("overwrite").text("hdfs://localhost:9000/user/hadoop/fileoutput/text_output")

In [28]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Read covid csv from HDFS") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://localhost:9000") \
    .getOrCreate()

csv_path = "hdfs://localhost:9000/user/hadoop/covid/country_wise_latest (1).csv"

df = spark.read.option("header", "true").option("inferSchema", "true").csv(csv_path)

df.createOrReplaceTempView("covid_data")

result = spark.sql("""
    SELECT `Country/Region`, Confirmed, Deaths, Recovered, Active
    FROM covid_data
    where `Country/Region` = 'India'
""")


result.show()

+--------------+---------+------+---------+------+
|Country/Region|Confirmed|Deaths|Recovered|Active|
+--------------+---------+------+---------+------+
|         India|  1480073| 33408|   951166|495499|
+--------------+---------+------+---------+------+

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Top 10 Countries by COVID-19 Recovery Rates") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://localhost:9000") \
    .getOrCreate()

csv_path = "hdfs://localhost:9000/user/hadoop/covid/full_grouped.csv"

df = spark.read.option("header", "true").option("inferSchema", "true").csv(csv_path)

df.createOrReplaceTempView("full_grouped_data")

result = spark.sql("""
    SELECT `Country/Region`, 
           MAX(Confirmed) AS Total_Confirmed,
           MAX(Recovered) AS Total_Recovered,
           ROUND(MAX(Recovered) / MAX(Confirmed) * 100, 2) AS Recovery_Rate_Percent
    FROM full_grouped_data
    WHERE Confirmed > 0
    GROUP BY `Country/Region`
    ORDER BY Recovery_Rate_Percent DESC
    LIMIT 10
""")

result.show()

+--------------+---------------+---------------+---------------------+
|Country/Region|Total_Confirmed|Total_Recovered|Recovery_Rate_Percent|
+--------------+---------------+---------------+---------------------+
|      Dominica|             18|             18|                100.0|
|       Grenada|             23|             23|                100.0|
|      Holy See|             12|             12|                100.0|
|      Djibouti|           5059|           4977|                98.38|
|       Iceland|           1854|           1823|                98.33|
|        Brunei|            141|            138|                97.87|
|   New Zealand|           1557|           1514|                97.24|
|         Qatar|         109597|         106328|                97.02|
|      Malaysia|           8904|           8601|                 96.6|
| Liechtenstein|             86|             83|                96.51|
+--------------+---------------+---------------+---------------------+

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Read COVID CSV Files from HDFS") \
    .config("spark.hadoop.fs.defaultFS", "hdfs://localhost:9000") \
    .getOrCreate()

df_country_latest = spark.read.option("header", "true").option("inferSchema", "true")  .csv("hdfs://localhost:9000/user/hadoop/covid/country_wise_latest (1).csv")

df_covid_clean = spark.read.option("header", "true").option("inferSchema", "true") .csv("hdfs://localhost:9000/user/hadoop/covid/covid_19_clean_complete.csv")

df_day_wise = spark.read.option("header", "true").option("inferSchema", "true") .csv("hdfs://localhost:9000/user/hadoop/covid/day_wise.csv")

df_full_grouped = spark.read.option("header", "true").option("inferSchema", "true") .csv("hdfs://localhost:9000/user/hadoop/covid/full_grouped.csv")

df_usa_county = spark.read.option("header", "true").option("inferSchema", "true") .csv("hdfs://localhost:9000/user/hadoop/covid/usa_county_wise.csv")

df_worldometer = spark.read.option("header", "true").option("inferSchema", "true") .csv("hdfs://localhost:9000/user/hadoop/covid/worldometer_data.csv")

df_country_latest.show()
df_covid_clean.show()
df_day_wise.show()
df_full_grouped.show()
df_usa_county.show()
df_worldometer.show()

+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|     Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|Confirmed last week|1 week change|1 week % increase|          WHO Region|
+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
|        Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|               3.5|                69.49|                  5.04|              35526|          737|             2.07|Eastern Mediterra...|
|            Albania|     4880|   144|     2745|  1991|      117|         6|           63|              2.95|                56.25|                  5.25|               4171|          709|             17.0|              Europe|
|            Algeria|    27973|  1163|    18837|  7973|      616|         8|          749|              4.16|                67.34|                  6.17|              23691|         4282|            18.07|              Africa|
|            Andorra|      907|    52|      803|    52|       10|         0|            0|              5.73|                88.53|                  6.48|                884|           23|              2.6|              Europe|
|             Angola|      950|    41|      242|   667|       18|         1|            0|              4.32|                25.47|                 16.94|                749|          201|            26.84|              Africa|
|Antigua and Barbuda|       86|     3|       65|    18|        4|         0|            5|              3.49|                75.58|                  4.62|                 76|           10|            13.16|            Americas|
|          Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|              1.83|                43.35|                  4.21|             130774|        36642|            28.02|            Americas|
|            Armenia|    37390|   711|    26665| 10014|       73|         6|          187|               1.9|                71.32|                  2.67|              34981|         2409|             6.89|              Europe|
|          Australia|    15303|   167|     9311|  5825|      368|         6|          137|              1.09|                60.84|                  1.79|              12428|         2875|            23.13|     Western Pacific|
|            Austria|    20558|   713|    18246|  1599|       86|         1|           37|              3.47|                88.75|                  3.91|              19743|          815|             4.13|              Europe|
|         Azerbaijan|    30446|   423|    23242|  6781|      396|         6|          558|              1.39|                76.34|                  1.82|              27890|         2556|             9.16|              Europe|
|            Bahamas|      382|    11|       91|   280|       40|         0|            0|              2.88|                23.82|                 12.09|                174|          208|           119.54|            Americas|
|            Bahrain|    39482|   141|    36110|  3231|      351|         1|          421|              0.36|                91.46|                  0.39|              36936|         2546|             6.89|Eastern Mediterra...|
|         Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|              1.31|                55.56|                  2.36|             207453|        18772|             9.05|     South-East Asia|
|           Barbados|      110|     7|       94|     9|        0|         0|            0|              6.36|                85.45|                  7.45|                106|            4|             3.77|            Americas|
|            Belarus|    67251|   538|    60492|  6221|      119|         4|           67|               0.8|                89.95|                  0.89|              66213|         1038|             1.57|              Europe|
|            Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|             14.79|                26.27|                 56.28|              64094|         2334|             3.64|              Europe|
|             Belize|       48|     2|       26|    20|        0|         0|            0|              4.17|                54.17|                  7.69|                 40|            8|             20.0|            Americas|
|              Benin|     1770|    35|     1036|   699|        0|         0|            0|              1.98|                58.53|                  3.38|               1602|          168|            10.49|              Africa|
|             Bhutan|       99|     0|       86|    13|        4|         0|            1|               0.0|                86.87|                   0.0|                 90|            9|             10.0|     South-East Asia|
+-------------------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+-------------------+-------------+-----------------+--------------------+
only showing top 20 rows

+--------------------+-------------------+---------+----------+----------+---------+------+---------+------+--------------------+
|      Province/State|     Country/Region|      Lat|      Long|      Date|Confirmed|Deaths|Recovered|Active|          WHO Region|
+--------------------+-------------------+---------+----------+----------+---------+------+---------+------+--------------------+
|                NULL|        Afghanistan| 33.93911| 67.709953|2020-01-22|        0|     0|        0|     0|Eastern Mediterra...|
|                NULL|            Albania|  41.1533|   20.1683|2020-01-22|        0|     0|        0|     0|              Europe|
|                NULL|            Algeria|  28.0339|    1.6596|2020-01-22|        0|     0|        0|     0|              Africa|
|                NULL|            Andorra|  42.5063|    1.5218|2020-01-22|        0|     0|        0|     0|              Europe|
|                NULL|             Angola| -11.2027|   17.8739|2020-01-22|        0|     0|        0|     0|              Africa|
|                NULL|Antigua and Barbuda|  17.0608|  -61.7964|2020-01-22|        0|     0|        0|     0|            Americas|
|                NULL|          Argentina| -38.4161|  -63.6167|2020-01-22|        0|     0|        0|     0|            Americas|
|                NULL|            Armenia|  40.0691|   45.0382|2020-01-22|        0|     0|        0|     0|              Europe|
|Australian Capita...|          Australia| -35.4735|  149.0124|2020-01-22|        0|     0|        0|     0|     Western Pacific|
|     New South Wales|          Australia| -33.8688|  151.2093|2020-01-22|        0|     0|        0|     0|     Western Pacific|
|  Northern Territory|          Australia| -12.4634|  130.8456|2020-01-22|        0|     0|        0|     0|     Western Pacific|
|          Queensland|          Australia| -27.4698|  153.0251|2020-01-22|        0|     0|        0|     0|     Western Pacific|
|     South Australia|          Australia| -34.9285|  138.6007|2020-01-22|        0|     0|        0|     0|     Western Pacific|
|            Tasmania|          Australia| -42.8821|  147.3272|2020-01-22|        0|     0|        0|     0|     Western Pacific|
|            Victoria|          Australia| -37.8136|  144.9631|2020-01-22|        0|     0|        0|     0|     Western Pacific|
|   Western Australia|          Australia| -31.9505|  115.8605|2020-01-22|        0|     0|        0|     0|     Western Pacific|
|                NULL|            Austria|  47.5162|   14.5501|2020-01-22|        0|     0|        0|     0|              Europe|
|                NULL|         Azerbaijan|  40.1431|   47.5769|2020-01-22|        0|     0|        0|     0|              Europe|
|                NULL|            Bahamas|25.025885|-78.035889|2020-01-22|        0|     0|        0|     0|            Americas|
|                NULL|            Bahrain|  26.0275|     50.55|2020-01-22|        0|     0|        0|     0|Eastern Mediterra...|
+--------------------+-------------------+---------+----------+----------+---------+------+---------+------+--------------------+
only showing top 20 rows

+----------+-----+----+----+-----+----+---+---+----+----+------+---+
|22-01-2020|  555|  17|  28|  510|  05| 06| 07|3.06|5.05| 60.71|  6|
+----------+-----+----+----+-----+----+---+---+----+----+------+---+
|23-01-2020|  654|  18|  30|  606|  99|  1|  2|2.75|4.59|  60.0|  8|
|24-01-2020|  941|  26|  36|  879| 287|  8|  6|2.76|3.83| 72.22|  9|
|25-01-2020| 1434|  42|  39| 1353| 493| 16|  3|2.93|2.72|107.69| 11|
|26-01-2020| 2118|  56|  52| 2010| 684| 14| 13|2.64|2.46|107.69| 13|
|27-01-2020| 2927|  82|  61| 2784| 809| 26|  9| 2.8|2.08|134.43| 16|
|28-01-2020| 5578| 131| 107| 5340|2651| 49| 46|2.35|1.92|122.43| 16|
|29-01-2020| 6166| 133| 125| 5908| 588|  2| 18|2.16|2.03| 106.4| 18|
|30-01-2020| 8234| 171| 141| 7922|2068| 38| 16|2.08|1.71|121.28| 20|
|31-01-2020| 9927| 213| 219| 9495|1693| 42| 78|2.15|2.21| 97.26| 24|
|01-02-2020|12038| 259| 281|11498|2111| 46| 62|2.15|2.33| 92.17| 25|
|02-02-2020|16787| 362| 459|15966|4749|103|178|2.16|2.73| 78.87| 25|
|03-02-2020|19887| 426| 604|18857|3100| 64|145|2.14|3.04| 70.53| 25|
|04-02-2020|23898| 492| 821|22585|4011| 66|217|2.06|3.44| 59.93| 26|
|05-02-2020|27643| 564|1071|26008|3745| 72|250|2.04|3.87| 52.66| 26|
|06-02-2020|30802| 634|1418|28750|3159| 70|347|2.06| 4.6| 44.71| 26|
|07-02-2020|34334| 719|1903|31712|3532| 85|485|2.09|5.54| 37.78| 26|
|08-02-2020|37068| 806|2470|33792|2734| 87|567|2.17|6.66| 32.63| 26|
|09-02-2020|40095| 906|3057|36132|3027|100|587|2.26|7.62| 29.64| 26|
|10-02-2020|42633|1013|3714|37906|2538|107|657|2.38|8.71| 27.28| 26|
|11-02-2020|44675|1113|4417|39145|2042|100|703|2.49|9.89|  25.2| 26|
+----------+-----+----+----+-----+----+---+---+----+----+------+---+
only showing top 20 rows

+----------+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|      Date|     Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|          WHO Region|
+----------+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|2020-01-22|        Afghanistan|        0|     0|        0|     0|        0|         0|            0|Eastern Mediterra...|
|2020-01-22|            Albania|        0|     0|        0|     0|        0|         0|            0|              Europe|
|2020-01-22|            Algeria|        0|     0|        0|     0|        0|         0|            0|              Africa|
|2020-01-22|            Andorra|        0|     0|        0|     0|        0|         0|            0|              Europe|
|2020-01-22|             Angola|        0|     0|        0|     0|        0|         0|            0|              Africa|
|2020-01-22|Antigua and Barbuda|        0|     0|        0|     0|        0|         0|            0|            Americas|
|2020-01-22|          Argentina|        0|     0|        0|     0|        0|         0|            0|            Americas|
|2020-01-22|            Armenia|        0|     0|        0|     0|        0|         0|            0|              Europe|
|2020-01-22|          Australia|        0|     0|        0|     0|        0|         0|            0|     Western Pacific|
|2020-01-22|            Austria|        0|     0|        0|     0|        0|         0|            0|              Europe|
|2020-01-22|         Azerbaijan|        0|     0|        0|     0|        0|         0|            0|              Europe|
|2020-01-22|            Bahamas|        0|     0|        0|     0|        0|         0|            0|            Americas|
|2020-01-22|            Bahrain|        0|     0|        0|     0|        0|         0|            0|Eastern Mediterra...|
|2020-01-22|         Bangladesh|        0|     0|        0|     0|        0|         0|            0|     South-East Asia|
|2020-01-22|           Barbados|        0|     0|        0|     0|        0|         0|            0|            Americas|
|2020-01-22|            Belarus|        0|     0|        0|     0|        0|         0|            0|              Europe|
|2020-01-22|            Belgium|        0|     0|        0|     0|        0|         0|            0|              Europe|
|2020-01-22|             Belize|        0|     0|        0|     0|        0|         0|            0|            Americas|
|2020-01-22|              Benin|        0|     0|        0|     0|        0|         0|            0|              Africa|
|2020-01-22|             Bhutan|        0|     0|        0|     0|        0|         0|            0|     South-East Asia|
+----------+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
only showing top 20 rows

+--------+----+----+-----+-------+------------+--------------------+--------------+-------------------+------------------+--------------------+-------+---------+------+
|     UID|iso2|iso3|code3|   FIPS|      Admin2|      Province_State|Country_Region|                Lat|             Long_|        Combined_Key|   Date|Confirmed|Deaths|
+--------+----+----+-----+-------+------------+--------------------+--------------+-------------------+------------------+--------------------+-------+---------+------+
|      16|  AS| ASM|   16|   60.0|        NULL|      American Samoa|            US|-14.270999999999999|          -170.132|  American Samoa, US|1/22/20|        0|     0|
|     316|  GU| GUM|  316|   66.0|        NULL|                Guam|            US|            13.4443|          144.7937|            Guam, US|1/22/20|        0|     0|
|     580|  MP| MNP|  580|   69.0|        NULL|Northern Mariana ...|            US|            15.0979|          145.6739|Northern Mariana ...|1/22/20|        0|     0|
|63072001|  PR| PRI|  630|72001.0|    Adjuntas|         Puerto Rico|            US| 18.180117000000006|        -66.754367|Adjuntas, Puerto ...|1/22/20|        0|     0|
|63072003|  PR| PRI|  630|72003.0|      Aguada|         Puerto Rico|            US|          18.360255|-67.17513100000001|Aguada, Puerto Ri...|1/22/20|        0|     0|
|63072005|  PR| PRI|  630|72005.0|   Aguadilla|         Puerto Rico|            US|          18.459681|-67.12081500000001|Aguadilla, Puerto...|1/22/20|        0|     0|
|63072007|  PR| PRI|  630|72007.0|Aguas Buenas|         Puerto Rico|            US|          18.251619|        -66.126806|Aguas Buenas, Pue...|1/22/20|        0|     0|
|63072009|  PR| PRI|  630|72009.0|    Aibonito|         Puerto Rico|            US|          18.131361|        -66.264131|Aibonito, Puerto ...|1/22/20|        0|     0|
|63072011|  PR| PRI|  630|72011.0|      Anasco|         Puerto Rico|            US|          18.287985|        -67.120611|Anasco, Puerto Ri...|1/22/20|        0|     0|
|63072013|  PR| PRI|  630|72013.0|     Arecibo|         Puerto Rico|            US|          18.406631|        -66.675077|Arecibo, Puerto R...|1/22/20|        0|     0|
|63072015|  PR| PRI|  630|72015.0|      Arroyo|         Puerto Rico|            US| 17.998457000000005|        -66.056546|Arroyo, Puerto Ri...|1/22/20|        0|     0|
|63072017|  PR| PRI|  630|72017.0| Barceloneta|         Puerto Rico|            US| 18.445532999999998|-66.56053100000001|Barceloneta, Puer...|1/22/20|        0|     0|
|63072019|  PR| PRI|  630|72019.0|Barranquitas|         Puerto Rico|            US|          18.201592|         -66.30963|Barranquitas, Pue...|1/22/20|        0|     0|
|63072021|  PR| PRI|  630|72021.0|     Bayamon|         Puerto Rico|            US|           18.34946|        -66.168435|Bayamon, Puerto R...|1/22/20|        0|     0|
|63072023|  PR| PRI|  630|72023.0|   Cabo Rojo|         Puerto Rico|            US|          18.040993|        -67.154391|Cabo Rojo, Puerto...|1/22/20|        0|     0|
|63072025|  PR| PRI|  630|72025.0|      Caguas|         Puerto Rico|            US|          18.211615|        -66.050779|Caguas, Puerto Ri...|1/22/20|        0|     0|
|63072027|  PR| PRI|  630|72027.0|       Camuy|         Puerto Rico|            US|          18.418578|        -66.860206|Camuy, Puerto Ric...|1/22/20|        0|     0|
|63072029|  PR| PRI|  630|72029.0|   Canovanas|         Puerto Rico|            US|          18.328802|        -65.887612|Canovanas, Puerto...|1/22/20|        0|     0|
|63072031|  PR| PRI|  630|72031.0|    Carolina|         Puerto Rico|            US|          18.374986|-65.95683100000001|Carolina, Puerto ...|1/22/20|        0|     0|
|63072033|  PR| PRI|  630|72033.0|      Catano|         Puerto Rico|            US|          18.437269|-66.14330600000001|Catano, Puerto Ri...|1/22/20|        0|     0|
+--------+----+----+-----+-------+------------+--------------------+--------------+-------------------+------------------+--------------------+-------+---------+------+
only showing top 20 rows

+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
|Country/Region|    Continent|Population|TotalCases|NewCases|TotalDeaths|NewDeaths|TotalRecovered|NewRecovered|ActiveCases|Serious,Critical|Tot Cases/1M pop|Deaths/1M pop|TotalTests|Tests/1M pop|          WHO Region|
+--------------+-------------+----------+----------+--------+-----------+---------+--------------+------------+-----------+----------------+----------------+-------------+----------+------------+--------------------+
|           USA|North America| 331198130|   5032179|    NULL|     162804|     NULL|       2576668|        NULL|    2292707|           18296|           15194|        492.0|  63139605|      190640|            Americas|
|        Brazil|South America| 212710692|   2917562|    NULL|      98644|     NULL|       2047660|        NULL|     771258|            8318|           13716|        464.0|  13206188|       62085|            Americas|
|         India|         Asia|1381344997|   2025409|    NULL|      41638|     NULL|       1377384|        NULL|     606387|            8944|            1466|         30.0|  22149351|       16035|      South-EastAsia|
|        Russia|       Europe| 145940924|    871894|    NULL|      14606|     NULL|        676357|        NULL|     180931|            2300|            5974|        100.0|  29716907|      203623|              Europe|
|  South Africa|       Africa|  59381566|    538184|    NULL|       9604|     NULL|        387316|        NULL|     141264|             539|            9063|        162.0|   3149807|       53044|              Africa|
|        Mexico|North America| 129066160|    462690|    6590|      50517|      819|        308848|        4140|     103325|            3987|            3585|        391.0|   1056915|        8189|            Americas|
|          Peru|South America|  33016319|    455409|    NULL|      20424|     NULL|        310337|        NULL|     124648|            1426|           13793|        619.0|   2493429|       75521|            Americas|
|         Chile|South America|  19132514|    366671|    NULL|       9889|     NULL|        340168|        NULL|      16614|            1358|           19165|        517.0|   1760615|       92022|            Americas|
|      Colombia|South America|  50936262|    357710|    NULL|      11939|     NULL|        192355|        NULL|     153416|            1493|            7023|        234.0|   1801835|       35374|            Americas|

In [ ]:
df_country_latest.createOrReplaceTempView("country_latest")

result = spark.sql("""
    SELECT `Country/Region`, 
           ROUND(`Recovered / 100 Cases`, 2) AS Recovery_Rate,
           ROUND(`Deaths / 100 Cases`, 2) AS Fatality_Rate
    FROM country_latest
    WHERE `Confirmed` > 0
    ORDER BY Recovery_Rate DESC
""")

result.show()

+--------------+-------------+-------------+
|Country/Region|Recovery_Rate|Fatality_Rate|
+--------------+-------------+-------------+
|      Dominica|        100.0|          0.0|
|       Grenada|        100.0|          0.0|
|      Holy See|        100.0|          0.0|
|      Djibouti|        98.38|         1.15|
|       Iceland|        98.33|         0.54|
|        Brunei|        97.87|         2.13|
|   New Zealand|        97.24|         1.41|
|         Qatar|        97.02|         0.15|
|      Malaysia|         96.6|         1.39|
|     Mauritius|        96.51|         2.91|
|        Norway|        95.84|         2.79|
|       Taiwan*|        95.24|         1.52|
|          Laos|         95.0|          0.0|
|         Malta|        94.86|         1.28|
|       Estonia|        94.54|         3.39|
|      Thailand|        94.36|         1.76|
| Liechtenstein|        94.19|         1.16|
|    San Marino|        93.99|         6.01|
|       Finland|        93.54|         4.45|
|     Greenland|        92.86|          0.0|
+--------------+-------------+-------------+
only showing top 20 rows

In [43]:
df_country_latest.createOrReplaceTempView("country_latest")

result=spark.sql("""
SELECT `Country/Region`,Deaths
from country_latest
ORDER BY Deaths 
                 
""")

result.show()

+--------------------+------+
|      Country/Region|Deaths|
+--------------------+------+
|              Bhutan|     0|
|            Cambodia|     0|
|            Dominica|     0|
|             Eritrea|     0|
|                Fiji|     0|
|           Greenland|     0|
|             Grenada|     0|
|            Holy See|     0|
|                Laos|     0|
|            Mongolia|     0|
|    Papua New Guinea|     0|
|Saint Kitts and N...|     0|
|         Saint Lucia|     0|
|Saint Vincent and...|     0|
|          Seychelles|     0|
|         Timor-Leste|     0|
|             Vietnam|     0|
|             Burundi|     1|
|       Liechtenstein|     1|
|      Western Sahara|     1|
+--------------------+------+
only showing top 20 rows

In [44]:
df_worldometer.createOrReplaceTempView("country_latest")

result = spark.sql("""
   SELECT `Country/Region`,TotalCases
from country_latest
ORDER BY TotalCases desc
""")

result.show()

+--------------+----------+
|Country/Region|TotalCases|
+--------------+----------+
|           USA|   5032179|
|        Brazil|   2917562|
|         India|   2025409|
|        Russia|    871894|
|  South Africa|    538184|
|        Mexico|    462690|
|          Peru|    455409|
|         Chile|    366671|
|      Colombia|    357710|
|         Spain|    354530|
|          Iran|    320117|
|            UK|    308134|
|  Saudi Arabia|    284226|
|      Pakistan|    281863|
|    Bangladesh|    249651|
|         Italy|    249204|
|        Turkey|    237265|
|     Argentina|    228195|
|       Germany|    215210|
|        France|    195633|
+--------------+----------+
only showing top 20 rows

In [51]:
df_worldometer.createOrReplaceTempView("country_latest")

result = spark.sql("""
    SELECT 
        ROUND((SUM(TotalRecovered) / SUM(TotalCases)) * 100, 2) AS Global_Recovery_Rate
    FROM country_latest
    WHERE TotalCases > 0
""")
result.show()

+--------------------+
|Global_Recovery_Rate|
+--------------------+
|               62.97|
+--------------------+

In [56]:
df_worldometer.createOrReplaceTempView("country_latest")

result = spark.sql("""
    SELECT 
        Continent,
        SUM(TotalCases) AS Total_Confirmed,
        SUM(TotalDeaths) AS Total_Deaths,
        SUM(TotalRecovered) AS Total_Recovered,
        SUM(ActiveCases) AS Total_Active,
        ROUND((SUM(TotalRecovered) / SUM(TotalCases)) * 100, 2) AS Recovery_Rate,
        ROUND((SUM(TotalDeaths) / SUM(TotalCases)) * 100, 2) AS Fatality_Rate
    FROM country_latest
    WHERE TotalCases > 0
    GROUP BY Continent
    ORDER BY Total_Confirmed DESC
""")

result.show()

+-----------------+---------------+------------+---------------+------------+-------------+-------------+
|        Continent|Total_Confirmed|Total_Deaths|Total_Recovered|Total_Active|Recovery_Rate|Fatality_Rate|
+-----------------+---------------+------------+---------------+------------+-------------+-------------+
|    North America|        5919209|      229855|        3151678|     2537676|        53.24|         3.88|
|             Asia|        4689794|      100627|        3508170|     1080997|         74.8|         2.15|
|    South America|        4543273|      154885|        3116150|     1272238|        68.59|         3.41|
|           Europe|        2982576|      205232|        1587302|      475261|        53.22|         6.88|
|           Africa|        1011867|       22114|         693620|      296133|        68.55|         2.19|
|Australia/Oceania|          21735|         281|          12620|        8834|        58.06|         1.29|
|             NULL|            712|          13|            651|          48|        91.43|         1.83|
+-----------------+---------------+------------+---------------+------------+-------------+-------------+

In [60]:
df_worldometer.createOrReplaceTempView("country_latest")

result = spark.sql("""
    SELECT 
        Continent,
        SUM(TotalCases) AS Total_Confirmed
    FROM country_latest
    WHERE TotalCases > 0 AND Continent IS NOT NULL
    GROUP BY Continent
    ORDER BY Total_Confirmed ASC
    LIMIT 1
""")

result.show()

+-----------------+---------------+
|        Continent|Total_Confirmed|
+-----------------+---------------+
|Australia/Oceania|          21735|
+-----------------+---------------+

In [61]:
df_worldometer.createOrReplaceTempView("country_latest")

result = spark.sql("""
    SELECT 
        Continent,
        SUM(TotalRecovered) AS Total_Recovered,
        SUM(TotalCases) AS Total_Cases,
        ROUND((SUM(TotalRecovered) / SUM(TotalCases)) * 100, 2) AS Recovery_Rate
    FROM country_latest
    WHERE TotalCases > 0 AND Continent IS NOT NULL
    GROUP BY Continent
    ORDER BY Recovery_Rate DESC
""")

result.show()

+-----------------+---------------+-----------+-------------+
|        Continent|Total_Recovered|Total_Cases|Recovery_Rate|
+-----------------+---------------+-----------+-------------+
|             Asia|        3508170|    4689794|         74.8|
|    South America|        3116150|    4543273|        68.59|
|           Africa|         693620|    1011867|        68.55|
|Australia/Oceania|          12620|      21735|        58.06|
|    North America|        3151678|    5919209|        53.24|
|           Europe|        1587302|    2982576|        53.22|
+-----------------+---------------+-----------+-------------+

In [ ]:
df_country_latest.createOrReplaceTempView("country_latest")
df_worldometer.createOrReplaceTempView("worldometer")
result = spark.sql("""
    WITH joined_data AS (
        SELECT 
            cl.`Country/Region` AS Country,
            wm.TotalCases,
            wm.TotalDeaths
        FROM country_latest cl
        JOIN worldometer wm
        ON cl.`Country/Region` = wm.`Country/Region`
        WHERE wm.TotalCases > 0 AND wm.TotalDeaths IS NOT NULL
    )

    SELECT 
        Country,
        TotalCases,
        TotalDeaths,
        ROUND((TotalDeaths / TotalCases) * 100, 2) AS Local_Death_Percentage,
        ROUND((SUM(TotalDeaths) OVER () / SUM(TotalCases) OVER ()) * 100, 2) AS Global_Death_Percentage
    FROM joined_data
    ORDER BY Local_Death_Percentage DESC
""")

result.show(10)

+--------------+----------+-----------+----------------------+-----------------------+
|       Country|TotalCases|TotalDeaths|Local_Death_Percentage|Global_Death_Percentage|
+--------------+----------+-----------+----------------------+-----------------------+
|         Yemen|      1768|        508|                 28.73|                   3.67|
|        France|    195633|      30312|                 15.49|                   3.67|
|         Italy|    249204|      35187|                 14.12|                   3.67|
|       Belgium|     71158|       9859|                 13.86|                   3.67|
|       Hungary|      4597|        600|                 13.05|                   3.67|
|        Mexico|    462690|      50517|                 10.92|                   3.67|
|   Netherlands|     56982|       6153|                  10.8|                   3.67|
|Western Sahara|        10|          1|                  10.0|                   3.67|
|          Chad|       942|         76|                  8.07|                   3.67|
|         Spain|    354530|      28500|                  8.04|                   3.67|
+--------------+----------+-----------+----------------------+-----------------------+
only showing top 10 rows